// Universal Styling/////////////////////////////
body {
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	color: #666666;
	vertical-align: top;
	margin: 0;
}

.main-container {
	width: 1001px;
	margin: 0 auto;
}

.header {
	text-align: center;
	font-size: 36px;
	margin: 25px;
}

.button {
	box-shadow: inset 0px 0px 1px 0px #ffffff;
	background-color: #f9f9f9;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	height: 12px;
	line-height: 12px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding: 6px;
	margin: 4px;

	&:hover {background-color:#e9e9e9;}

	&:active {
		position:relative;
		top:1px;
	}
}

// Container Title Styling///////////////////////
.box-title p {
	width: 325px;
	display: inline-block;
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
}

.injured-title {
	color: #960000;
	margin: 5px 10px 5px 0;
}

.playing-title {
	color: #006E02;
	margin: 5px 10px 5px 0;
}

.bench-title {
	color: #FF8D29;
	margin: 5px 0 5px 0;
}

// View Container Styling////////////////////////
.injured-container, .playing-container, .bench-container {
	vertical-align: top;
	min-height: 500px;
	width: 319px;
	display: inline-block;
	text-align: center;

.injured-container {
	color: #960000;
	background-color: #FFC4C4;
	border: 3px solid #960000;
	margin-right: 10px;
}

.playing-container {
	color: #006E02;
	background-color: #B2DBB2;
	border: 3px solid #006E02;
	margin-right: 10px;
}

.bench-container {
	color: #FF8D29;
	background-color: #FFE5C9;
	border: 3px solid #FF8D29;
}

.injured-player, .active-player, .benched-player {
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;

	& img {
		width: 100%;
	}
}

